.Intro{
  height:100%;
  display:grid;
  grid-template-areas: 
".    title    .  "
".    image    .  "
".    start    .  "
".    setting    .  ";
// align-items: center;
justify-items: center;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;

h1{
  grid-area: title;
  align-self: end;
}
img{
  grid-area: image;
  align-self: center;
}
.start-button{
  grid-area: start;
  align-self: start;
  border-radius: 25px;
  max-width: 100px;
}
.setting-button{
  grid-area: setting;
  align-self: start;
  border-radius: 25px;
  max-width: 100px;
}
}