.map {
    position: relative;
    background-image: url("../images/grass.png");
    background-size: 10%;
    width: 100%;
    height: 100%;


.houseone {
    height: 10%;
    position: absolute;
    left: 25%;
    top: 50%;
}

.houseonebutton {
    position: absolute;
    left: 27%;
    top: 60%;
}

.housetwo {
    height: 10%;
    position: absolute;
    left: 25%;
    top: 20%;
}

.housetwobutton {
    position: absolute;
    left: 27%;
    top: 30%;
}

.store {
    height: 10%;
    position: absolute;
    left: 75%;
    top: 50%;
}

.storebutton {
    position: absolute;
    left: 77%;
    top: 60%;
}

.clinic {
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
}

.clinicbutton {
    position: absolute;
    left: 52%;
    top: 60%;
}

.boss {
    height: 10%;
    position: absolute;
    left: 75%;
    top: 25%;
}

.bossbutton {
    position: absolute;
    left: 78%;
    top: 35%;
}

.treeone {
    height: 10%;
    position: absolute;
    left: 10%;
    top: 5%;
}

.treetwo {
    height: 10%;
    position: absolute;
    left: 40%;
    top: 75%;
}

.treethree {
    height: 10%;
    position: absolute;
    left: 60%;
    top: 20%;
}

.treefour {
    height: 10%;
    position: absolute;
    left: 5%;
    top: 70%;
}

.treefive {
    height: 10%;
    position: absolute;
    left: 40%;
    top: 30%;
}

.treesix {
    height: 10%;
    position: absolute;
    left: 80%;
    top: 80%;
}
.deleteMeStyle{
  height :30px;
  width:10px;
}
}